body, html {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
  color: #999;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 30pt;
  line-height: 1.2;
  min-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
}

p.tagline {
  text-align: left;
  margin: 0;
  text-transform: lowercase;
  font-size: 10pt;
  font-weight: 900;
  width: 100%;
  line-height: 1.2;
  min-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

#table {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}

#centeralign {
  display: table-cell;
  vertical-align: middle;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
}

.col-left, .col-right {
  flex: 1;
}

.col-left {
  text-align: left;
}

.col-left p {
  width: 100%;
}

.col-right {
  text-align: left;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 900;
}

.menu-item {
  margin: 8px 0;
  position: relative;
  display: none;
}

.menu-item.is-visible {
  display: list-item;
  opacity: 0;
  transform: translateY(6px);
  animation: popIn 240ms ease-out forwards;
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-toggle {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  line-height: 1.2;
  min-height: 1.2em;
  white-space: nowrap;
}

.menu-dropdown {
  margin-top: 6px;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-dropdown[hidden] {
  display: none;
}

.menu-link {
  color: inherit;
  text-decoration: none;
  font-size: 10pt;
  font-weight: 400;
  text-transform: none;
  white-space: normal;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-dropdown p {
  margin: 6px 0 0;
  text-align: left;
  text-transform: none;
  font-size: 10pt;
  font-weight: 400;
  width: 100%;
  white-space: normal;
}

p {
  text-align: left;
  margin: 0;
  text-transform: lowercase;
  font-size: 10pt;
  font-weight: 900;
  width: 50%;
}